h1 {    
    margin: auto;
    text-align: center;
    font-size: 48px;
    background-color: rgb(66, 64, 64);
    color: white;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
  }

span {
    color: white;
    padding: 4px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

li {
    border: black 1px solid;
    padding: 10px;
    max-width: 200px;
}
/* 
.justify-space-between {
    justify-content: space-between;
  } */
